<div class="container-fluid mt-5">
  <div class="row">
        <div class="card col" style="width: 18rem;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCToPKgzbFHzPnNow3Y1v-hvxZw08jSLeegK3cvkXtKciTdzVNtGKDGic-HOIuQyj8QK4&usqp=CAU">
          <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <a href="/admin/profile" class="btn btn-primary">View Profile</a>
          </div>
        </div>

        <div class="card col" style="width: 18rem;">
          <img class="card-img-top" src="https://st2.depositphotos.com/1954927/6872/v/600/depositphotos_68722965-stock-illustration-flat-avatar-icons-business-concept.jpg">
          <div class="card-body">
            <h5 class="card-title">Users</h5>
            <a href="/admin/users" class="btn btn-primary">View Users</a>
          </div>
        </div>

        <div class="card col" style="width: 18rem;">
          <img class="card-img-top justify-content-even" src="https://cdn-icons-png.flaticon.com/512/4813/4813075.png">
          <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <a href="/admin/menu" class="btn btn-primary">View Menu</a>
          </div>
        </div>

        <div class="card col" style="width: 18rem;">
          <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/401/401176.png">
          <div class="card-body">
            <h5 class="card-title">Transaction</h5>
            <a href="#" class="btn btn-primary">View Orders</a>
          </div>
        </div>

        <div class="card col" style="width: 18rem;">
          <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/209/209116.png">
          <div class="card-body">
            <h5 class="card-title">Food Items</h5>
            <a href="/admin/addfood" class="btn btn-primary">+ Add Food</a>
          </div>
        </div>

        <div class="card col" style="width: 18rem;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsYqk_a3BXRNJ2ivpQhuVuvwwbc57HsRakUTD_V0Es90nFnoDd14iVpE1kuYvxK-9_q1M&usqp=CAU">
          <div class="card-body">
            <h5 class="card-title">Location</h5>
            <a href="/admin/location" class="btn btn-primary">+ Add Location</a>
          </div>
        </div>
  </div>
</div>