.container,
.row {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(187 196 203);
}

.card {
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 20px;
}

.col-sm-10 {
  background-color: rgb(201, 191, 191);
  background-image: url("/assets/images/register.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 90vw 100vh;
  margin-left: 90px;
  margin-right: 80px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
}

.col-sm-6 {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  color: white;
}

.form-control {
  width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}