<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/images/foodItemPlaceholder.png" alt="">
    <div class="card-body">
      <h5 class="card-title">
            <i *ngIf="food.foodType==0"><img src="https://img.icons8.com/color/48/null/vegetarian-food-symbol.png"/></i>
            <i *ngIf="food.foodType==1"><img src="https://img.icons8.com/external-skrata-royyan-wijaya/32/null/external-beverage-gloria-weddings-skrata-royyan-wijaya-2.png"/></i>
            <i *ngIf="food.foodType==2"><img src="https://img.icons8.com/color/48/null/non-vegetarian-food-symbol.png"/></i>
            {{food.name}}       
        </h5>
        <p class="card-text">{{food.description}}</p>
        <p>{{food.price}}</p>
    </div>
    <div class="card-body text-center"> 
        <div>
            <button class="btn text-primary" (click)="decreaseQuantity()"> <i class="fa-solid fa-minus"></i></button>
            <input style="width:25px;" readonly type="text" value="{{quantity}}" length="20px" >
            <button [disabled]="quantity==20" class="btn text-primary"  (click)="increaseQuantity()"> <i class="fa-solid fa-plus"></i></button>
        </div>
        <div>
            <button [disabled]="food.availability==false" class="btn btn-success" style="width:100%" (click)="handleAddToCart(addedFood)"><i class="fa-solid fa-plus"></i> Add</button>
        </div>
    </div>

  </div> 