<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No.</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let user of users">
                <td><span>{{user.Id}}</span></td>
                <td><span>{{user.FirstName}}</span></td>
                <td><span>{{user.LastName}}</span></td>
                <td><span>{{user.Email}}</span></td>
                <td><span>{{user.PhoneNumber}}</span></td>
            </tr> -->
        </tbody>
    </table>
</div>